.carousel {
    margin-top: 60px;
    width: 80%;
    margin-left: 10%;
  }
  
  .carousel-item {
    width: 100%;
  }
  
  @media (max-width: 991px) {
    .carousel-item {
      width: 100%;
    }
  }
  